body{
    margin: 0;
}
header{
    background-color: cadetblue;
    text-align: center;
}
header img{
    border-style: double;
}
header h1{
    font-size: medium;
    font-family: cursive;
    color: rgb(78, 78, 78);
}